<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>do.Upload</servlet-name>
        <servlet-class>src.model.imgUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Dilation</servlet-name>
        <servlet-class>src.model.filters.DilationFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Reset</servlet-name>
        <servlet-class>src.model.NormalFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Canny</servlet-name>
        <servlet-class>src.model.filters.CannyFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Grayscale</servlet-name>
        <servlet-class>src.model.filters.GrayscaleFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Dots</servlet-name>
        <servlet-class>src.model.filters.DotsFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Gaussian</servlet-name>
        <servlet-class>src.model.filters.GaussianFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Erosion</servlet-name>
        <servlet-class>src.model.filters.ErosionFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Morph</servlet-name>
        <servlet-class>src.model.filters.MorphFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Sobel</servlet-name>
        <servlet-class>src.model.filters.SobelFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Apply</servlet-name>
        <servlet-class>src.model.ApplyFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Connect</servlet-name>
        <servlet-class>src.model.connection.LDAPconnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.Logout</servlet-name>
        <servlet-class>src.model.connection.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>src.model.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.ImgProc</servlet-name>
        <servlet-class>src.model.ImgProc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do.ImgDelete</servlet-name>
        <servlet-class>src.model.ImgDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>do.Upload</servlet-name>
        <url-pattern>/do.Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Dilation</servlet-name>
        <url-pattern>/do.Dilation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Canny</servlet-name>
        <url-pattern>/do.Canny</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Grayscale</servlet-name>
        <url-pattern>/do.Grayscale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Dots</servlet-name>
        <url-pattern>/do.Dots</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Gaussian</servlet-name>
        <url-pattern>/do.Gaussian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Erosion</servlet-name>
        <url-pattern>/do.Erosion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Morph</servlet-name>
        <url-pattern>/do.Morph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Sobel</servlet-name>
        <url-pattern>/do.Sobel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Apply</servlet-name>
        <url-pattern>/do.Apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Connect</servlet-name>
        <url-pattern>/do.Connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Logout</servlet-name>
        <url-pattern>/do.Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.Reset</servlet-name>
        <url-pattern>/do.Reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.ImgProc</servlet-name>
        <url-pattern>/do.ImgProc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do.ImgDelete</servlet-name>
        <url-pattern>/do.ImgDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
